/* html{
    height: 100vh;
} */
@font-face {
    font-family: MADE Evolve Sans;
    font-weight: Bold;
    src:url(../made_evolve_sans/MADEEvolveSansBold.otf);
}
@font-face {
    font-family: MADE Evolve Sans;
    font-weight: Light;
    src:url(../made_evolve_sans/MADEEvolveSansLight.otf);
}
#h1 {
  /* margin-left: -65px;*/
  margin-top: -95px;
  white-space:nowrap;
  font-family:"MADE Evolve Sans";
  font-weight: bold;
  font-size: 160px;
  color:#fff;
  text-shadow: 2px 1px 6px  #000;
}

.enfasis{
    font-size: 250px;
    /* margin-left: -65px;*/
    margin-top: -100px;
    white-space:nowrap;
    font-family:"MADE Evolve Sans";
    font-weight: bold;
    color:#fff;
    text-shadow: 2px 1px 6px #000;
}

#h2 {
  /* margin-left: -px; */
  /* margin-top: -95px; */
  white-space:nowrap;
  font-family:"MADE Evolve Sans";
  font-size: 35px;
  color:#fff;
  text-shadow: 2px 1px 6px  #000;
}
#h3 {
  /* margin-left: -65px; */
  margin-top: -95px;
  white-space:nowrap;
  font-family:MADE Evolve Sans;
  font-size: 160px;
  font-weight: bold;
  color:#fff;
  text-shadow: 2px 1px 6px  #000;
}

/* #nvar{
height: 90px; */
/* background: linear-gradient(to top, rgba(0, 0,0, 1) 0%, rgba(0,0, 0, 0.5) 100%); */
/* background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4) 100%); */
/* background-color: #2f4353;
background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%); */
/* } */
/*
#i{
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 60px;
  margin-left: -110px;
  box-shadow: 2px 1px 6px  #000;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}*/#b{
    color: #fff;
    text-align: center;
    font-size: 25px;
}
#body-index{
background-image: url("../images/index.jpg");
background-repeat: none;
background-position: center;
/* background-size: 100vw; */
}
#body-page2{
    background-image: url("../images/serenata/bgrnd.jpg");
    background-repeat: none;
    /* -webkit-filter: brightness(0.30);filter: brightness(0.30); */
}
#body-page3{
    background-image: url("../images/festival/bgrnd.jpg");
    background-repeat: none;
    /* -webkit-filter: brightness(0.30);filter: brightness(0.30); */
}
#body-page4{
    background-image: url("../images/cultural/nn.jpg");
    background-repeat: none;
}
#body-page5{
    background-image: url("../images//baile/bail.jpg");
    background-repeat: none;
}

#imgs{
    margin-top: -30px;
    margin:auto;
    filter: drop-shadow(0px 0px 5px black);
    width: 500px;
}

.container{
    padding: 25px
}
#cont{
    margin-bottom: 0px;
    margin-top: 100px;
    padding: 0px;
}
